<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net451" />
  <package id="NuGet.CommandLine" version="4.3.0" targetFramework="net461" developmentDependency="true" />
  <package id="Ookii.Dialogs.WindowsForms" version="1.0" targetFramework="net4-client" />
  <package id="SharpCompress" version="0.17.1" targetFramework="net461" />
  <package id="Splat" version="1.6.2" targetFramework="net461" />
  <package id="squirrel.windows" version="1.7.8" targetFramework="net461" />
</packages>